* {
    margin: 0;
    padding: 0;
}

header.container-fluid {
    padding: 0 150px;
}

section {
    margin-top: 50px;
}

section .create-note {
    justify-content: center;
    gap: 30px;
}

.modal-input-title {
    margin-bottom: 15px;
}

.modal-input-description textarea {
    resize: none;
}

.list-container {
    margin-bottom: 20px;
}

.float-left {
    float: left;
}

.modal-footer {
    justify-content: space-between;
}

.add-list-button {
    display: flex;
    justify-self: start;
}

.add-list-button button {
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-modal-text {
    margin-bottom: 15px;
}

.item-list-row {
    gap: 10px;
    margin-bottom: 10px;
}

.card-section {
    margin-top: 30px;
    justify-self: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
}

.card-text-checkbox {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: start;
    gap: 5px;
    text-wrap: wrap;
}

.card-text-checkbox .list-item {
    gap: 5px;
    align-items: start;
}

.card-text-checkbox p {
    margin: 0;
    padding: 0;
    text-wrap: wrap;
}

.card-text-checkbox input[type="checkbox"] {
    margin-top: 5px;
}

.card:hover {
    border-color: #343a40;
    transition: 0.1s linear;
}

.card-title-container {
    justify-content: space-between;
}

i.bi-trash-fill:hover {
    filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(96%) contrast(93%);
    transition: 0.05s linear;
}

.trash-icon-button {
    position: absolute;
    display: none;
    right: 5px;
    margin: 0;
}

.card:hover .trash-icon-button {
    display: block;
    transition: 1s linear;
}

.card h5 {
    margin: 8px 0;
}

.card-title-container:hover {
    cursor: pointer;
}

.add-note {
    position: fixed;
    top: 50px;
    left: 50px;
}